p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time{
  color: gray;
}

.cursive{
  font-family: cursive;
}

.capitalize{
  text-transform: capitalize;
}

h2.destination{
  font-family: cursive;
}

/*This lesson shows how to "chain" selectors in a way that makes them only apply to elements of a certain tag that also have been assigned a certain class*/
