p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

.publish-time{
  color: gray;
}

.cursive{
  font-family: cursive;
}

.capitalize{
  text-transform: capitalize;
}

h2.destination{
  font-family: cursive;
}

.description h5 {
  color: teal;
}

/*Here I learned how to apply a style only to child elements of an element with a certain class.*/
